@import url("./navbar.css");
@import url("./part1.css");
:root{
    --btn-color:linear-gradient(122.15deg, #F9C8BF 3.72%, #F87C61 19.56%, #AB26F8 84.21%, #D75EFC 100.63%);
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e6dddd6e;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding: 0rem 1rem 0rem 1rem;
}





